body {
    background-color: #1660cf;
}

.cuadro-blanco {
    max-width: 80%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    margin: 5%;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#video {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .cuadro-blanco {
        margin: 2%;
        padding: 15px; /* Puedes ajustar el padding para pantallas más pequeñas si es necesario */
    }
}
